numpy>=1.25.0
matplotlib>=3.7.1
mplfinance>=0.12.9b7
pandas>=2.0.2
yfinance>=0.2.22
ta>=0.10.2
pendulum>=2.1.2
flask>=2.3.2
psycopg2-binary>=2.9.3
longbridge>=0.2.65
pip>=23.3.1
attrs>=22.1.0
pathlib>=1.0.1
wheel>=0.38.4
cryptography>=39.0.1
pillow>=9.4.0
tornado>=6.2
jinja2>=3.1.2
setuptools>=65.6.3
packaging>=23.0
pyparsing>=3.0.9
cython>=3.0.5
future>=0.18.3
pandas_market_calendars>=4.4.0
tradingview_ta>=3.3.0