<!DOCTYPE html>
<html lang="en">
<head>
    <title>Grid Trading Strategy Backtest</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="../static/stock.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/stock_style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        .gradient-border {
            border: none;
            border-bottom: 1px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(to left, #ff2f92, #0055cc);
        }

        .backtest-button {
            border: none;
            border-radius: 10px;
            height: auto;
            background: #0055cc;
        }

        .col-6 {
            padding: 0 1rem 0 0;
        }

        .form-control {
            margin: 0;
            padding: 0.15rem;
        }

        .form-group {
            padding: 0;
            margin: 0;
        }

        .text-muted {
            margin: 0.25rem 0 0 0;
            padding: 0;
        }

        .stockLegend {
        }

        .rowStockLegend {
            height: 1.5rem;
        }

        #backtest-figure {
            border-radius: 10px;
            background: linear-gradient(to right top, #0055cc, #ff2f92);
        }

        #trade-history {
        }
    </style>
</head>
<body>
<main>
    <div class="container">
        <h2 class="mt-4">Grid Trading Strategy Backtest</h2>
        <form id="gridTradeForm" method="POST" action="/">
            <div class="row">
                <div class="col-1 d-flex justify-content-center">
                    <h2 class="mt-2">➊</h2>
                </div>
                <div class="col-5 d-flex align-items-center">
                    <h6 class="mb-0">
                        Please set it up<br>
                        請設置交易參數
                    </h6>
                </div>
            </div>
            <div class="row">
                <div class="col-1 d-flex justify-content-center"></div>
                <div class="col-11">
                    <div id="grid_trading_input" class="form-group">
                        <div class="form-group d-flex justify-content-between">
                            <div class="col-6">
                                <label for="ticker" class="form-text text-muted">Ticker</label>
                                <input type="text" class="form-control gradient-border" id="ticker" name="ticker" style="text-align: center;">
                            </div>
                            <div class="col-6">
                                <label for="price_benchmark" class="form-text text-muted">Benchmark price</label>
                                <input type="number" step="0.01" class="form-control gradient-border" id="price_benchmark" name="price_benchmark" value="1.00" style="text-align: right;">
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-between">
                            <div class="col-6">
                                <label for="price_floor" class="form-text text-muted">Trigger price min</label>
                                <input type="number" step="0.01" class="form-control gradient-border" id="price_floor" name="price_floor" value="1.00" style="text-align: right;">
                            </div>
                            <div class="col-6">
                                <label for="price_ceiling" class="form-text text-muted">Trigger price max</label>
                                <input type="number" step="0.01" class="form-control gradient-border" id="price_ceiling" name="price_ceiling" value="1000.00" style="text-align: right;">
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-between">
                            <div class="col-6">
                                <label for="rise" class="form-text text-muted">Rise %</label>
                                <input type="number" step="0.01" min="0.5" max="5" class="form-control gradient-border" id="rise" name="rise" value="1.00" style="text-align: right;">
                            </div>
                            <div class="col-6">
                                <label for="fall" class="form-text text-muted">Fall %</label>
                                <input type="number" step="0.01" min="0.5" max="5" class="form-control gradient-border" id="fall" name="fall" value="0.50" style="text-align: right;">
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-between">
                            <div class="col-6">
                                <label for="holding" class="form-text text-muted">Current holding</label>
                                <input type="number" min="0" step="1" class="form-control gradient-border" id="holding" name="holding" value="50" style="text-align: right;">
                            </div>
                            <div class="col-6">
                                <label for="quantity" class="form-text text-muted">Quantity of each order</label>
                                <input type="number" min="1" step="1" class="form-control gradient-border" id="quantity" name="quantity" value="10" style="text-align: right;">
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-between">
                            <div class="col-6">
                                <label for="holding_min" class="form-text text-muted">Holding scale from</label>
                                <input type="number" min="0" step="1" class="form-control gradient-border" id="holding_min" name="holding_min" value="0" style="text-align: right;">
                            </div>
                            <div class="col-6">
                                <label for="holding_max" class="form-text text-muted">to</label>
                                <input type="number" min="1" step="1" class="form-control gradient-border" id="holding_max" name="holding_max" value="100" style="text-align: right;">
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-between">
                            <div class="col-6">
                                <label for="date_start" class="form-text text-muted">Backtest from</label>
                                <input type="date" class="form-control gradient-border" id="date_start" name="date_start">
                            </div>
                            <div class="col-6">
                                <label for="date_end" class="form-text text-muted">to</label>
                                <input type="date" class="form-control gradient-border" id="date_end" name="date_end">
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-between">
                            <div class="col-6">
                                <label for="interval" class="form-text text-muted">Interval</label>
                                <select name="interval" class="form-control gradient-border" id="interval">
                                    <option value="1m">1m</option>
                                    <option value="5m">5m</option>
                                    <option value="15m">15m</option>
                                    <option value="30m">30m</option>
                                    <option value="1h">1h</option>
                                    <option value="1d">1d</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <label for="cash" class="form-text text-muted">Cash on hand</label>
                                <input type="number" step="0.01" class="form-control gradient-border" id="cash" name="cash" value="10000.00" style="text-align: right;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1 d-flex justify-content-center">
                    <h2 class="mt-2">➋</h2>
                </div>
                <div class="col-5 d-flex align-items-center">
                    <h6 class="mb-0">
                        Backtest these parameters<br>
                        回測以上參數
                    </h6>
                </div>
                <div class="col d-flex justify-content-end align-items-center">
                    <button type="submit" id="backtest" class="btn btn-primary backtest-button">
                        Backtest
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-1 d-flex justify-content-center">
                    <h2 class="mt-2">➌</h2>
                </div>
                <div class="col-11 d-flex align-items-center">
                    <h6 class="mb-0">
                        Yield curve<br>
                        回測收益曲線
                    </h6>
                </div>
            </div>
            <div class="row">
                <div class="col-1 d-flex justify-content-center"></div>
                <div class="col-11">
                    <div id="result"></div>
                    <div class="stockLegend">
                        <div class="row">
                            <div class="col-1 d-flex justify-content-center align-items-center rowStockLegend">
                                <hr style="width: 2rem; border: 1px solid #2fff9c;">
                            </div>
                            <div class="col">
                                Grid trading backtest curve
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1 d-flex justify-content-center align-items-center rowStockLegend">
                                <hr style="width: 2rem; border: 2px solid #ffffff; box-shadow: 0 0 10px #0055cc;">
                            </div>
                            <div class="col">
                                Hold still from beginning
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1 d-flex justify-content-center align-items-center rowStockLegend">
                                <div style="width: 1vw; height: 1vw; border-radius: 50%; background-color: #2fff9c;"></div>
                            </div>
                            <div class="col">
                                Buy
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1 d-flex justify-content-center align-items-center rowStockLegend">
                                <div style="width: 1vw; height: 1vw; border-radius: 50%; background-color: #ff2f92;"></div>
                            </div>
                            <div class="col">
                                Sell
                            </div>
                        </div>
                    </div>
                    <div id="backtest-figure"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-1 d-flex justify-content-center">
                    <h2 class="mt-2">➍</h2>
                </div>
                <div class="col-5 d-flex align-items-center">
                    <h6 class="mb-0">
                        Trading details<br>
                        交易明細
                    </h6>
                </div>
            </div>
            <div class="row">
                <div class="col-1 d-flex justify-content-center"></div>
                <div class="col-11">
                    <div class="table-responsive">
                        <table id="trade-history" class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Datetime</th>
                                <th>Total Asset<br>Cash</th>
                                <th>Price Benchmark</th>
                                <th>Direction<br>Quantity</th>
                                <th>Holding</th>
                                <th>Commission</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in data %}
                            <tr>
                                {% for col in row %}
                                <td>{{ col }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script>
    document.getElementById('interval').addEventListener('change', updateDatesFromInterval);
    updateDatesFromInterval();

    document.getElementById('gridTradeForm').addEventListener('submit', function (event) {

        event.preventDefault();

        // Form validation
        let ticker = document.getElementById('ticker').value;
        let price_benchmark = document.getElementById('price_benchmark').value;
        let price_floor = document.getElementById('price_floor').value;
        let price_ceiling = document.getElementById('price_ceiling').value;
        let rise = document.getElementById('rise').value;
        let fall = document.getElementById('fall').value;
        let quantity = document.getElementById('quantity').value;
        let holding = document.getElementById('holding').value;
        let holding_min = document.getElementById('holding_min').value;
        let holding_max = document.getElementById('holding_max').value;
        let date_start = document.getElementById('date_start').value;
        let date_end = document.getElementById('date_end').value;
        let cash = document.getElementById('cash').value;

        if (!ticker || !date_start || !date_end) {
            document.getElementById('result').textContent = 'Please fill out the form correctly.';
            return;
        }

        let formData = new FormData(event.target);
        fetch('/gridTradingStrategy', {
            method: 'POST',
            body: formData
        }).then(response => response.text())
            .then(data => {
                let [svgData, tradeHistoryJson] = data.split('`');

                // image
                document.getElementById('backtest-figure').innerHTML = '';
                let img = document.createElement('img');
                img.src = 'data:image/svg+xml;base64,' + svgData;
                img.classList.add('img-fluid');
                document.getElementById('backtest-figure').appendChild(img);

                // table
                let tradeHistory = JSON.parse(tradeHistoryJson);
                let table = document.getElementById('trade-history');
                let tbody = document.querySelector('#trade-history');
                let count = 0;
                Array.from(tbody.rows).forEach(row => {
                    count += 1;
                    if (count > 1) {
                        tbody.deleteRow(row.rowIndex);
                    }
                });

                count = 0
                tradeHistory.forEach(row => {
                    let tr = document.createElement('tr');
                    count += 1
                    tr.innerHTML = `
                        <td>${count}</td>
                        <td>${row.datetime}</td>
                        <td>${parseFloat(row.total_asset).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2})}<br>${parseFloat(row.cash).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2})}</td>
                        <td>${parseFloat(row.price).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2})}</td>
                        <td>${row.direction}<br>${row.position}</td>
                        <td>${row.holding}</td>
                        <td>${parseFloat(row.commission).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2})}</td>`;

                    table.appendChild(tr);
                });
            });
    });
</script>
</body>
</html>